<%- include('../includes/head.ejs') %>

<%- include('../includes/navigation.ejs') %>
        <section>
            <h2>Home</h2>
            <p>
                Welcome to my online photo album application. To start
                storing photo for your album, please create an account
                by clicking on the sign up link above. If you already
                have an account, please click on the login link above.
            </p>
            <p>
                Once you have login, click the upload link to upload a
                photo. You can then view the photo in the album link.
                Once there, click on the view photo link to get more
                details on the photo and from there, you can chose to
                download the photo or you can delete the photo from the
                system.
            </p>
        </section>

<%- include('../includes/end.ejs') %>