<%- include('includes/head.ejs') %>

<%- include('includes/navigation.ejs') %>
        <h2>Some error occurred!</h2>
        <p>We're working on fixing this, sorry for the inconvenience!</p>

<%- include('includes/end.ejs') %>